{% extends 'base.html.twig' %}
{% block navigation %}{% endblock %}
{% block body %}
    <h1>Find spare part</h1>
           {% for part in parts %}
            <div class="part-info">
                <div>
                    <div class="part-name">{{ part.namePart }}</div>
                    <span class="part-label"><b>Model spare part: </b></span>{{ part.modelPart }}<br>
                    <span class="part-label"><b>Price spare part: </b></span>{{ part.pricePart }}<br>

                </div>
            </div>

           {% endfor %}
{% endblock %}
