{{ form_start(form, { 'attr' : { 'class': 'pure-form pure-form-stacked' } }) }}
{{ form_errors(form) }}

{{ form_row(form.licensePlate) }}

<button type="submit" class="pure-button pure-button-primary">Find</button>
{{ form_end(form) }}